@model SugarM.Models.ApplicationUser
@inject SugarM.Data.ApplicationDbContext Context
@inject SignInManager<ApplicationUser> signInManager;

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
      <ul class="sidebar-menu" data-widget="tree">
         @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
            {
                <li class="treeview">
                <a href="/UserRole/Index">
                    <i class="fa fa-laptop"></i> <span>Security_Admin</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/Role/Index"><i class="fa fa-circle-o"></i> สร้างสิทธิ์ </a></li>
                    <li><a href="/Access/Index"><i class="fa fa-circle-o"></i> กำหนดสิทธิ์ </a></li>
                    <li><a href="/UserRole/Index"><i class="fa fa-circle-o"></i> ข้อมูลพนักงาน </a></li>
                </ul>
                </li>
            }
               <li class="treeview">
                <a href="/Company/Index">
                    <i class="fa fa-laptop"></i> <span>ข้อมูลพื้นฐาน</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a href="/Company/Index"><i class="fa fa-circle-o"></i> บริษัท </a></li>
                    <li><a href="/Province/Index"><i class="fa fa-circle-o"></i> จังหวัด-อำเภอ-ตำบล </a></li>
                    <li><a href="/Bank/Index"><i class="fa fa-circle-o"></i> ธนาคาร </a></li>
                    <li><a href="/QuotaType/Index"><i class="fa fa-circle-o"></i> ประเภทโควต้า </a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> ปีการผลิต </a></li>
                    <li><a href="/Sale/Index"><i class="fa fa-circle-o"></i> ข้อมูลนักเกษตร </a></li>
                    <li><a href="/SaleAuth/Index"><i class="fa fa-circle-o"></i> กำหนดสิทธิ์ผู้ตรวจแปลง </a></li>
                    <li><a href="/CarType/Index"><i class="fa fa-circle-o"></i> ประเภทรถ </a></li>
                    <li><a href="/CarType/Index"><i class="fa fa-circle-o"></i> ราคาน้ำมันเชื้อเพลิง </a></li>
                    <li><a href="/DocRunning/Index"><i class="fa fa-circle-o"></i> กำหนดเลขที่เอกสาร </a></li>
                    <li><a href="/DocCtrRunno/Index"><i class="fa fa-circle-o"></i> กำหนดรหัสเอกสาร </a></li>
                    <li><a href="/CaneType/Index"><i class="fa fa-circle-o"></i> ประเภทอ้อย </a></li>
                    <li><a href="/CaneQlt/Index"><i class="fa fa-circle-o"></i> คุณภาพอ้อย </a></li>
                    <li><a href="/CaneQlt/Index"><i class="fa fa-circle-o"></i> แหล่งที่มาของพันธุ์อ้อย </a></li>
                    <li><a href="/CaneBread/Index"><i class="fa fa-circle-o"></i> พันธุ์อ้อย </a></li>
                    <li><a href="/Unit/Index"><i class="fa fa-circle-o"></i> หน่วย </a></li>
                    <li><a href="/DocumentType/Index"><i class="fa fa-circle-o"></i> ประเภทเอกสาร </a></li>
                    <li><a href="/ContractType/Index"><i class="fa fa-circle-o"></i> ประเภทสัญญา </a></li>
                    <li><a href="/UserLevel/Index"><i class="fa fa-circle-o"></i> ระดับผู้ใช้ </a></li>
                    <li><a href="/Override/Index"><i class="fa fa-circle-o"></i> ระดับผู้อนุมัติ </a></li>
                    <li><a href="/GrowMethod/Index"><i class="fa fa-circle-o"></i> วิธีการปลูก </a></li>
                    <li><a href="/Grade/Index"><i class="fa fa-circle-o"></i> เกรดจัดชั้นหนี้ </a></li>
                </ul>
                </li>
      </ul>
    </section>
    <!-- /.sidebar -->
</aside>