@model GrowMethod

@{
    ViewData["Title"] = "GrowMethod";
    ViewData["CurrentPage"]= "menu2";
}

<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    วิธีการปลูก
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form asp-controller="GrowMethod" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>รหัสบริษัท:</label>
                        <input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
                        <span asp-validation-for="CompCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="CaneYear" class="">ปีการผลิต:</label>
                        <input type="text" asp-for="CaneYear" readonly="true" class="form-control" placeholder="Enter CaneYear">
                        <span asp-validation-for="CaneYear" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="GrowCode" class="">รหัสวิธีปลูก:</label>
                        <input type="text" asp-for="GrowCode" readonly="true" class="form-control" placeholder="Enter GrowCode">
                        <span asp-validation-for="GrowCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="Description" class="">ชื่อวิธีการปลูก:</label>
                        <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <div class="col-lg-3">
                            <label>การใช้งาน:</label>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                    </div>
                                <select class="form-control kt-select2" asp-for="Active">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                    </select>
                            </div>
                        </div>
                </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</div>


@section Scripts{
    <script>
        var Isedit = $("#IsEditMode").val();
            if (Isedit == "false"){
                $(".form-control").removeAttr('readonly');
            }else{
        }
        $(".select2").select2();
        $(document).ready(function() {
            $(".back-step").on("click",()=>{
                window.location.href = "/GrowMethod/Index";
            });
        });
    </script>
}
