@model QuotaViewModel
@{
    ViewData["Title"] = "CreateSales";
        ViewData["CurrentPage"]= "menu2";
}


                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													ประเภทโควต้า
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="QuotaType" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
											<div class="kt-portlet__body">
												<div class="form-group row">
													<div class="col-lg-4">
														<label>รหัสโควต้า:</label>
														<input type="text" asp-for="TypeCode" class="form-control" placeholder="Enter TypeCode">
														<span asp-validation-for="TypeCode" class="text-danger"></span>
													</div>
													<div class="col-lg-4">
														<label for="Description" class="">ชื่อโควต้า:</label>
														<input type="text" asp-for="Description" class="form-control" placeholder="Enter Description">
														<span asp-validation-for="Description" class="text-danger"></span>
													</div>
												</div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $(".back-step").on("click",()=>{
                window.location.href = "/QuotaType/Index";
            });
        });

    </script>
}
