@model DocumentType
@{
    ViewData["Title"] = "CreateUnit";
    ViewData["CurrentPage"]= "menu2";
}

<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    เอกสาร
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form asp-controller="Unit" asp-action="Create" class="kt-form kt-form--label-right">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>รหัสบริษัท:</label>
                        <input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
                        <span asp-validation-for="CompCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="CaneYear" class="">ปีการผลิต:</label>
                        <input type="text" asp-for="CaneYear" class="form-control" placeholder="Enter CaneYear">
                        <span asp-validation-for="CaneYear" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="DocCode" class="">รหัสประเภทเอกสาร:</label>
                        <input type="text" asp-for="DocCode" class="form-control" placeholder="Enter DocCode">
                        <span asp-validation-for="DocCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="DocName" class="">ชื่อเอกสาร:</label>
                        <input type="text" asp-for="DocName" class="form-control" placeholder="Enter DocName">
                        <span asp-validation-for="DocName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                        <div class="col-lg-3">
                            <label for="Description" class="">รายละเอียด:</label>
                            <input type="text" asp-for="Description" class="form-control" placeholder="Enter Description">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label for="DeleteFlag" class="">สถานะ:</label>
                            <input type="text" asp-for="DeleteFlag" value="N" class="form-control" placeholder="Enter DeleteFlag">
                            <span asp-validation-for="DeleteFlag" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>การใช้งาน:</label>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                    </div>
                                <select class="form-control kt-select2" asp-for="Active">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                    </select>
                            </div>
                        </div>
                </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $(".select2").select2();
            var ObjEdit = $("#IsEditMode").val();
            if (ObjEdit == "false"){
             $(".form-control").removeAttr('readonly');
            }
            $(".back-step").on("click",()=>{
                window.location.href = "/DocumentType/Index";
            });
        });
    </script>
}
