@model UserLevel

@{
    ViewData["Title"] = "CreateUserLevel";
    ViewData["CurrentPage"]= "menu2";
}


<div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    ระดับผู้ใช้งาน
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        <form asp-controller="UserLevel" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>รหัสบริษัท:</label>
                        <input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
                        <span asp-validation-for="CompCode" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <label for="CaneYear" class="">ปีการผลิต:</label>
                        <input type="text" asp-for="CaneYear" class="form-control" placeholder="Enter CaneYear">
                        <span asp-validation-for="CaneYear" class="text-danger"></span>
                    </div>
                    @if(@ViewBag.IsEditMode == "true"){
                        <div class="col-lg-3">
                            <input type="text" asp-for="UserId" style="display: none;" class="form-control" placeholder="Enter UserId">
                            <label for="Fullname" class="">รหัสผู้ใช้งาน:</label>
                            <input type="text" asp-for="Fullname" class="form-control" placeholder="Enter Fullname">
                            <span asp-validation-for="Fullname" class="text-danger"></span>
                        </div>
                    }else{
                        <div class="col-lg-3">
                            <label class="">รหัสผู้ใช้งาน:</label>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                    </div>
                                <select class="form-control kt-select2" asp-for="UserId" asp-items="@(new SelectList(ViewBag.UserSugarM,"UserId","UserFullname"))">
                                    <option> </option>
                                    </select>
                            </div>
                        </div>
                    }
                    <div class="col-lg-3">
                        <label for="UseridLevel" class="">ระดับผู้อนุมัติ:</label>
                        <div class="input-group">
                            <!-- /btn-group -->
                              <input  class="form-control" asp-for="UseridLevel" placeholder="Enter UseridLevel">
                            <div class="input-group-btn">
                            <a class="btn btn-danger active search"><i class="flaticon2-search-1"></i> ค้นหา</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row">

                        <div class="col-lg-3">
                            <label for="MinAmount" class="">MinAmount:</label>
                            <input type="number" asp-for="MinAmount" class="form-control" placeholder="Enter MinAmount">
                            <span asp-validation-for="MinAmount" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label for="MaxAmount" class="">MaxAmount:</label>
                            <input type="number" asp-for="MaxAmount" class="form-control" placeholder="Enter MaxAmount">
                            <span asp-validation-for="MaxAmount" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                            <label for="Description" class="">รายละเอียด:</label>
                            <input type="text" asp-for="Description" class="form-control" placeholder="Enter MaxAmount">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3">
                        <label>การใช้งาน:</label>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                </div>
                            <select class="form-control kt-select2" asp-for="Active">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                                </select>
                        </div>
                    </div>
                </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-4">
                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
            @* Modal------------------------------------------------ *@
            <div class="modal fade" id="Overridemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ระดับผู้อนุมัติ</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div id="TableOverride">

                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            @* ----------------------------------------------------------------- *@
        <!--end::Form-->
    </div>
</div>



@section Scripts{




    <script>
        $(document).ready(function () {
            var Isedit = $("#IsEditMode").val();
                if (Isedit == "false"){
                    $(".form-control").removeAttr('readonly');
                }else{
                }
                $(".select2").select2();
                $(".back-step").on("click",()=>{
                    window.location.href = "/UserLevel/Index";
                });
                $("#btnHideModal").on("click",() =>{
                    $("#Overridemodal").modal("hide");
                });
                $(".search").on("click", () => {
                    var url = "/UserLevel/GetOverride";
                    $.ajax({
                            url: url,
                            data: {
                            data: "data"
                            },
                            type: "GET",
                            success: function (data) {
                            $("#TableOverride").html(data);
                            },
                            }).then(function () {
                                $("#Overridemodal").modal("show");
                            });
                });
        });

    </script>
}
