@model Bank
@{
    ViewData["Title"] = "CreateQuotaType";
    ViewData["CurrentPage"]= "menu2";
}

                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													ธนาคาร
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="Bank" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
											<div class="kt-portlet__body">
												<div class="form-group row">
													<div class="col-lg-4">
														<label>รหัสธนาคาร:</label>
														<input type="text" asp-for="BankCode" class="form-control" placeholder="Enter BankCode">
														<span asp-validation-for="BankCode" class="text-danger"></span>
													</div>
													<div class="col-lg-4">
														<label for="BankName" class="">ชื่อธนาคาร:</label>
														<input type="text" asp-for="BankName" class="form-control" placeholder="Enter BankName">
														<span asp-validation-for="BankName" class="text-danger"></span>
													</div>
												</div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>

									<!--end::Portlet-->
@section Scripts{
    <script>
        $(document).ready(function() {
            $(".back-step").on("click",()=>{
                window.location.href = "/Bank/Index";
            });
        });
    </script>
}
