@model DocCtrRunno

@{
    ViewData["Title"] = "CreateDocCtrRunno";
    ViewData["CurrentPage"]= "menu2";
}

                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													กำหนดรหัสการพิมพ์เอกสาร
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="DocCtrRunno" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                                              <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
                                            <div class="kt-portlet__body">
												<div class="form-group row">
													<div class="col-lg-3">
														<label>CompCode:</label>
														<input type="text" asp-for="CompCode" readonly="true" class="form-control" placeholder="Enter CompCode">
														<span asp-validation-for="CompCode" class="text-danger"></span>
													</div>
													<div class="col-lg-3">
														<label for="CaneYear" class="">CaneYear:</label>
														<input type="text" asp-for="CaneYear" readonly="true" class="form-control" placeholder="Enter CaneYear">
														<span asp-validation-for="CaneYear" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-3">
                                                        <input type="text" asp-for="BranchSymbol" style="display: none;" class="form-control" placeholder="Enter CaneYear">
                                                        <label>รหัสสาขา:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                          <select class="form-control kt-select2" asp-for="BranchCode" asp-items="@(new SelectList(ViewBag.branch,"BranchCode","DpComIdandname"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
													<div class="col-lg-3">
														<label for="DocCode" class="">รหัสเอกสาร:</label>
														<input type="text" asp-for="DocCode" class="form-control" placeholder="Enter DocCode">
														<span asp-validation-for="DocCode" class="text-danger"></span>
													</div>
												</div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
														<label for="DocType" class="">ประเภทเอกสาร:</label>
														<input type="text" asp-for="DocType" class="form-control" placeholder="Enter DocType">
														<span asp-validation-for="DocType" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-3">
														<label for="CodeName" class="">ชื่อเอกสาร:</label>
														<input type="text" asp-for="CodeName" class="form-control" placeholder="Enter CodeName">
														<span asp-validation-for="CodeName" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-3">
														<label for="TypeName" class="">ชื่อประเภท:</label>
														<input type="text" asp-for="TypeName" class="form-control" placeholder="Enter TypeName">
														<span asp-validation-for="TypeName" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-3">
														<label for="DigitRunNo" class="">จำนวนตัวเลข:</label>
														<input type="text" asp-for="DigitRunNo" class="form-control" placeholder="Enter DigitRunNo">
														<span asp-validation-for="DigitRunNo" class="text-danger"></span>
													</div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
														<label for="LastRunNo" class="">เลขที่ลำดับสุดท้าย:</label>
														<input type="text" asp-for="LastRunNo" class="form-control" placeholder="Enter LastRunNo">
														<span asp-validation-for="LastRunNo" class="text-danger"></span>
													</div>
                                                </div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>
                                </div>


@section Scripts{
    <script>
        $(document).ready(function() {
            var ObjEdit = $("#IsEditMode").val();
            if (ObjEdit == "false"){
             $(".form-control").removeAttr('readonly');
            }
            $(".select2").select2();
            $(".back-step").on("click",()=>{
                window.location.href = "/DocCtrRunno/Index";
            });
        });
    </script>
}
