@model Companysale
@{
    ViewData["Title"] = "Sale";
    ViewData["CurrentPage"]= "menu2";
}



                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													ข้อมูลนักเกษตร
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="Sale" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
											<div class="kt-portlet__body">
												<div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label class="">รหัสนักเกษตร:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                              <select class="form-control kt-select2" asp-for="SaleId" asp-items="@(new SelectList(ViewBag.sale,"SaleId","SaleId"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
													<div class="col-lg-3">
														<label>ชื่อนักเกษตร:</label>
														<input type="text" asp-for="SaleName" class="form-control" placeholder="Enter SaleName">
														<span asp-validation-for="SaleName" class="text-danger"></span>
													</div>
												</div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
                                                        <label>รหัสบริษัท:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                          <select class="form-control kt-select2" asp-for="CompCode" asp-items="@(new SelectList(ViewBag.company,"CompCode","CompCode"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <label>รหัสสาขา:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                          <select class="form-control kt-select2" asp-for="BranchCode" asp-items="@(new SelectList(ViewBag.branch,"BranchCode","DpComIdandname"))">
                                                              <option> </option>
                                                              </select>
                                                        </div>
                                                    </div>
												</div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $('.kt-select2').select2({
                placeholder: "Select a state"
            });
            $(".back-step").on("click",()=>{
                window.location.href = "/Sale/Index";
            });
            $("#SaleId").change(function(){
                var url = "/Sale/GetsaleID/" + $("#SaleId").val();
                $.ajax({
                url: url,
                data: { data: "data" },
                type: "GET",
                success: function(data) {
                    var DT = data;
                    for (i = 0; i < DT.length; i++) {
                        var rec = DT[i];
                        $("#SaleName").val(rec.SaleName);
                    }
                }
            });
        });
        });
    </script>
}