@model CarType
@{
    ViewData["Title"] = "CarType";
    ViewData["CurrentPage"]= "menu2";
}


                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													ประเภทรถ
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="CarType" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode" class="hidden">
                                              <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
                                            <div class="kt-portlet__body">
                                                <div class="form-group row menu">
                                                    <div class="col-lg-4">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Menu
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="">
                                                                <button class="dropdown-item" id="AddCarDetaill" href="#" type="button">เพิ่มประเภทย่อย</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
												<div class="form-group row">
													<div class="col-lg-4">
														<label>รหัสบริษัท:</label>
														<input type="text" asp-for="CompCode" class="form-control" placeholder="Enter CompCode">
														<span asp-validation-for="CompCode" class="text-danger"></span>
													</div>
													<div class="col-lg-4">
														<label for="TypeCode" class="">รหัส:</label>
														<input type="text" asp-for="TypeCode" class="form-control" placeholder="Enter TypeCode">
														<span asp-validation-for="TypeCode" class="text-danger"></span>
													</div>
												</div>
                                                <div class="form-group row">
                                                    <div class="col-lg-4">
														<label for="Description" class="">ชื่อประเภทรถ:</label>
														<input type="text" asp-for="Description" class="form-control" placeholder="Enter Description">
														<span asp-validation-for="Description" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-4">
                                                        <label class="">การใช้งาน:</label>
                                                        <div class="input-group flex-nowrap">
                                                            <div class="input-group-append">
                                                                  <span class="input-group-text" id="basic-addon1"><i class="flaticon2-line-chart"></i></span>
                                                              </div>
                                                              <select class="form-control kt-select2" asp-for="Active">
                                                                <option value="Y">Y</option>
                                                                <option value="N">N</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                </div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>
                                </div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var Isedit = $("#IsEditMode").val();
            if (Isedit == "false"){
                $(".menu").hide();
            }else{
                $(".menu").show();
            }
            $(".select2").select2();
            $(".back-step").on("click",()=>{
                window.location.href = "/CarType/Index";
            });
            $("#AddCarDetaill").on("click",()=>{
                var C = $("#CompCode").val();
                var T = $("#TypeCode").val();
                window.location.href = "/CarTypeDetail/CreateDetaill?Id="+ C +" &TypeId="+ T +"";
            });
        });
    </script>
}
