@model RoleViewModel

@{
    ViewData["Title"] = "Edit Role";
     ViewData["CurrentPage"]= "menu1";
}

@section Styles {
    <link href="~/lib/jquery-bonsai/jquery.bonsai.css" rel="stylesheet" />
<link href="~/metronic/dist/assets/plugins/custom/jstree/jstree.bundle.css" rel="stylesheet" type="text/css">
}
@section Scripts{
    <script src="~/lib/jquery-qubit/jquery.qubit.js"></script>
    <script src="~/lib/jquery-bonsai/jquery.bonsai.js"></script>
    <script src="~/metronic/dist/assets/plugins/custom/jstree/jstree.bundle.js" type="text/javascript"></script>
    <script src="~/metronic/dist/assets/js/pages/components/extended/treeview.js" type="text/javascript"></script>

<script>
$(function () {
            $('#tree').bonsai({
                expandAll: false,
                checkboxes: true,
                createInputs: 'checkbox'
            });
            $('#kt_tree').jstree({
            'plugins': ["wholerow", "checkbox", "types"],
            'core': {
                "themes": {
                    "responsive": false
                },
                'data': @Html.Raw(ViewBag.Json)
               
            },
            "types": {
                "default": {
                    "icon": "fa fa-folder kt-font-warning"
                },
                "file": {
                    "icon": "fa fa-file  kt-font-warning"
                }
            },
        });
            $('form').submit(function () {
                var v = $('#kt_tree').jstree(true).get_json('#', {flat:true})
                var result = $('#kt_tree').jstree("get_selected", true);
                var mytext = JSON.stringify(v);
                $('#seletedItems').val(JSON.stringify(v));
                return true;
            });
        });
</script>
}

                            <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													Edit Access List
												</h3>
											</div>
										</div>
                                        <form asp-controller="Role" asp-action="Edit" asp-route-id="@ViewData["Uid"]" method="post">
                                            <div class="kt-portlet__body">
                                                                            <div class="form-group">
                                                                                <label>Full Name:</label>
                                                                                <input type="text" asp-for="Name" class="col-lg-2 form-control" placeholder="Enter full name">
                                                                            </div>
                                                                    <input type="hidden" name="seletedItems" id="seletedItems" value="" />
                                                                    <div id="kt_tree" 
                                                                        name="kt_tree" class="tree-demo jstree jstree-3 jstree-default jstree-checkbox-selection jstree-1" 
                                                                        role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_4" aria-busy="false" 
                                                                        aria-selected="false">
                                                                    </div>
                                                                <div class="kt-portlet__foot">
                                                                        <div class="kt-form__actions">
                                                                    <div class="row">
                                                                        </div>
                                                                            <div class="col-lg-9 col-xl-9">
                                                                            <button type="submit" class="btn btn-success">Submit</button>&nbsp;
                                                                            <button type="reset" class="btn btn-secondary">Cancel</button>
                                                    </div>
                                            </div>
                                        </form>
					
                        </div>
