@model DocRunning

@{
    ViewData["Title"] = "CreateDocRunning";
}
<section class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
      <section class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-users"></i> @ViewData["Title"]</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        <!---- Company -->
        <div class="box-body">
            <form asp-controller="DocRunning" asp-action="Create" method="post">
                <div>
                    <input id="IsEditMode" name="IsEditMode" value="@ViewBag.IsEditMode" class="hidden">
                </div>
             <div class="DocRunning">
                 <div class="tab-pane active" role="tabpanel" id="step1">
                        <h3>กำหนดเลขที่เอกสาร</h3>
                        <hr>
                <div class="row">
                    <input class="form-control hidden" asp-for="CompCode" placeholder="Enter CompCode">
                    <div class="col-lg-3">
                        <div class="form-group">
                        <label for="RunningId">RunningID</label>
                        <input class="form-control" asp-for="RunningId"  placeholder="Enter RunningId">
                        </div>
                         <div class="col-sm-10">
                        <span asp-validation-for="RunningId" class="text-danger"></span>
                        </div>
                  <!-- /input-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                         <label for="RunningName">ชื่อเอกสาร</label>
                        <input  class="form-control" asp-for="RunningName" placeholder="Enter RunningName">
                        <div class="col-sm-10">
                        <span asp-validation-for="RunningName" class="text-danger"></span>
                        </div>
                        </div>
                  <!-- /input-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                         <label for="RunningMark">อักษรนำหน้า</label>
                        <input  class="form-control" asp-for="RunningMark" placeholder="Enter RunningMark">
                        <div class="col-sm-10">
                        <span asp-validation-for="RunningMark" class="text-danger"></span>
                        </div>
                        </div>
                  <!-- /input-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                         <label for="DigitRunning">จำนวนตัวเลข</label>
                        <input  class="form-control" asp-for="DigitRunning" placeholder="Enter DigitRunning">
                        <div class="col-sm-10">
                        <span asp-validation-for="DigitRunning" class="text-danger"></span>
                        </div>
                        </div>
                  <!-- /input-group -->
                    </div>
                <!-- /.col-lg-6 -->
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                        <label for="LastRunning">เลขที่เอกสารล่าสุด</label>
                        <input  class="form-control" asp-for="LastRunning" placeholder="Enter LastRunning">
                        <div class="col-sm-10">
                        <span asp-validation-for="LastRunning" class="text-danger"></span>
                        </div>
                        </div>
                    <!-- /input-group -->
                    </div>
                </div>
                        <ul class="list-inline pull-left">
                            <li><button type="button" asp-action="Index" class="btn bg-navy btn-flat margin back-step">Back</button></li>
                            <li><button type="submit" id="Savesubmit" class="btn bg-purple margin">Save</button></li>
                        </ul>
                    </div>
              </div>
            </form>
        </div>
             @await Html.PartialAsync("_Loadding")
        </section>
    </section>
   
</section>
@section Scripts{
    <script>
        $(document).ready(function() {
            $(".back-step").on("click",()=>{
                window.location.href = "/DocRunning/Index";
            });
        });
    </script>
}
