@model DocRunning

@{
    ViewData["Title"] = "CreateDocRunning";
    ViewData["CurrentPage"]= "menu2";
}


                               <div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													กำหนดเลขที่เอกสาร
												</h3>
											</div>
										</div>

										<!--begin::Form-->
										<form asp-controller="DocRunning" asp-action="Create" method="post" class="kt-form kt-form--label-right">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode">
                                              <input id="IsEditMode" style="display: none;" name="IsEditMode" value="@ViewBag.IsEditMode" class="hidden">
                                              <input id="DeleteFlag" style="display: none;" name="DeleteFlag" value="N" class="hidden">
                                            <div class="kt-portlet__body">
												<div class="form-group row">
													<div class="col-lg-3">
														<label>RunningID:</label>
														<input type="text" asp-for="RunningId" readonly="true" class="form-control" placeholder="Enter RunningId">
														<span asp-validation-for="RunningId" class="text-danger"></span>
													</div>
													<div class="col-lg-3">
														<label for="RunningName" class="">ชื่อเอกสาร:</label>
														<input type="text" asp-for="RunningName" class="form-control" placeholder="Enter RunningName">
														<span asp-validation-for="RunningName" class="text-danger"></span>
													</div>
                                                    <div class="col-lg-3">
														<label for="RunningMark" class="">อักษรนำหน้า:</label>
														<input type="text" asp-for="RunningMark" class="form-control" placeholder="Enter RunningMark">
														<span asp-validation-for="RunningMark" class="text-danger"></span>
													</div>
													<div class="col-lg-3">
														<label for="DigitRunning" class="">จำนวนตัวเลข:</label>
														<input type="text" asp-for="DigitRunning" class="form-control" placeholder="Enter DigitRunning">
														<span asp-validation-for="DigitRunning" class="text-danger"></span>
													</div>
												</div>
                                                <div class="form-group row">
                                                    <div class="col-lg-3">
														<label for="LastRunning" class="">เลขที่เอกสารล่าสุด:</label>
														<input type="text" asp-for="LastRunning" class="form-control" placeholder="Enter LastRunning">
														<span asp-validation-for="LastRunning" class="text-danger"></span>
													</div>
                                                </div>
											<div class="kt-portlet__foot">
												<div class="kt-form__actions">
													<div class="row">
														<div class="col-lg-4">
                                                            <button type="button" asp-action="Index" class="btn btn-dark back-step">Back</button>
                                                            <button type="submit" id="Savesubmit" value="CreatebankbranchNew" class="btn btn-brand">Save</button>
                                                        </div>
													</div>
												</div>
											</div>
										</form>

										<!--end::Form-->
									</div>
                                </div>

@section Scripts{
    <script>
        $(document).ready(function() {
            var Isedit = $("#IsEditMode").val();
            if (Isedit == "false"){
                    $(".form-control").removeAttr('readonly');
                }else{
            }
            $(".back-step").on("click",()=>{
                window.location.href = "/DocRunning/Index";
            });
        });
    </script>
}
